@use '../styles/ds';

.layoutRoot{
  //padding: 20px;
}


.header{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 130px;
  padding: 20px 100px;
  background-color: ds.$off_white2;
}

.bodyRoot{
  padding: 20px 100px;
}