@use '../styles/ds';

.layoutRoot {

  height: 100vh;

  .header {

    @media (max-width: ds.$media_transition) {
      padding: 20px;
      width: fit-content;
    }

    @media (min-width: ds.$media_transition) {
      padding: 20px 100px;
      justify-content: flex-end;
    }

    display: flex;
    align-items: center;
    height: 70px;
    background-color: ds.$off_white2;
  }

  .bodyRoot {
    @media (max-width: ds.$media_transition) {
      padding: 20px;
    }

    @media (min-width: ds.$media_transition) {
      padding: 20px 100px;
    }
    height: calc(100% - 100px);
  }

  .footerRoot {

    display: flex;
    justify-content: center;
    grid-gap: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;

    @media (max-width: ds.$media_transition) {
      display: none;
    }

  }

}