@use '../styles/ds';

.layoutRoot{

  height: 100vh;
  
  .header{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 130px;
    padding: 20px 100px;
    background-color: ds.$off_white2;
  }

  .bodyRoot{
    padding: 20px 100px;
    height: calc(100% - 160px);
  }

  .footerRoot{
    padding: 0 100px;
    display: flex;
    height: 30px;
    justify-content: center;
    grid-gap: 10px;

    //.socialMedia{
    //  display: flex;
    //  grid-gap: 10px;
    //}

  }


}


