.aboutContent{
  display: flex;
  flex-flow: wrap row;
  margin-top: 20px;
  gap: 40px;

  #profilePic{
    height: auto;
    width: 300px;
  }

  .aboutWriteup{
    p{
      margin-top: 20px;
    }
  }

}