.routes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  h4 {
    margin-right: 10px;

    &:after {
      margin-left: 10px;
      content: "/";
    }

    &:last-child:after {
      margin: 0;
      content: "";
    }
  }


}